In [4]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.metrics import r2_score
import statsmodels.stats.api as sms


class DataLoader:
    """
    Class responsible for loading data from an SQLite database.

    Attributes:
        db_path (str): Path to the SQLite database.
        dataframes (dict): Dictionary containing the loaded DataFrames.
    """

    def __init__(self, db_path: str):
        """
        Initialize the DataLoader class with a database path.

        Args:
            db_path (str): Path to the SQLite database.
        """
        self.db_path = db_path
        self.dataframes = {}

    def load_data(self) -> dict:
        """
        Load data from the SQLite database and store it in a dictionary.

        Returns:
            dict: A dictionary whose keys are table names and values are the corresponding DataFrames.
        """
        connection = sqlite3.connect(self.db_path)
        tables = [
            "drivers",
            "fcyphases",
            "laps",
            "qualifyings",
            "races",
            "retirements",
            "starterfields",
        ]
        self.dataframes = {
            table: pd.read_sql_query(f"SELECT * FROM {table}", connection)
            for table in tables
        }
        connection.close()
        return self.dataframes


# class F1Team:
#     """
#     Class for data preparation and regression analysis for a given driver
#     for a specific season and race.

#     Attributes:
#         season (int): Season to analyze.
#         driver_id (int): ID of the driver.
#         race_id (int): ID of the target race for testing.
#         dfs (dict): Dictionary of DataFrames.
#         best_qualif_times (pd.DataFrame): DataFrame with best qualifying times per race.
#         train_data (pd.DataFrame): Training dataset.
#         test_data (pd.DataFrame): Test dataset.
#         model: Trained regression model.
#         predictions (pd.Series): Predictions generated by the model on the test data.
#     """

#     def __init__(self, team : str,season: int, dataframes: dict):
#         """
#         Initialize the F1Model class.

#         Args:
#             season (int): Season to analyze.
#             driver_id (int): ID of the driver to analyze.
#             race_id (int): ID of the race used for testing.
#             dataframes (dict): Dictionary of DataFrames containing the data.
#         """
#         self.dfs = dataframes
#         self.team = team
#         self.season=season
#         self.drivers_if_of_the_season = self._load_season_team_drivers()
#         self.dfs = dataframes



    
#     def _load_season_team_drivers(self):
#         race_ids_season = self.dfs["races"][self.dfs["races"]["season"] == self.season]["id"]

#         staterfields_df=self.dfs["staterfields"]
#         staterfields_df[(staterfields_df["race_id"].isin(race_ids_season))&(staterfields_df)]

#     def get_pit_stop_avg(self):
#         pass

def main():
    
    # Load data
    db_path = "F1_timingdata_2014_2019.sqlite"
    data_loader = DataLoader(db_path=db_path)
    dataframes = data_loader.load_data()
    

    


if __name__ == "__main__":
    main()

In [8]:
db_path = "F1_timingdata_2014_2019.sqlite"
data_loader = DataLoader(db_path=db_path)
dataframes = data_loader.load_data()
dataframes

{'drivers':     id  carno initials                name
 0    1     44      HAM      Lewis Hamilton
 1    2      3      RIC    Daniel Ricciardo
 2    3      6      ROS        Nico Rosberg
 3    4     20      MAG     Kevin Magnussen
 4    5     14      ALO     Fernando Alonso
 5    6     25      VER    Jean-Eric Vergne
 6    7     27      HUL     Nico Hulkenberg
 7    8     26      KVY        Daniil Kvyat
 8    9     19      MAS        Felipe Massa
 9   10     22      BUT       Jenson Button
 10  11      7      RAI      Kimi Raikkonen
 11  12      5      VET    Sebastian Vettel
 12  13     99      SUT        Adrian Sutil
 13  14     10      KOB     Kamui Kobayashi
 14  15     77      BOT     Valtteri Bottas
 15  16     11      PER        Sergio Perez
 16  17      4      CHI         Max Chilton
 17  18     17      BIA       Jules Bianchi
 18  19      9      ERI     Marcus Ericsson
 19  20     21      GUT   Esteban Gutierrez
 20  21     13      MAL    Pastor Maldonado
 21  22      8      GRO     Romain Grosjean
 22  23     45      LOT      Andre Lotterer
 23  24     28      STE        Will Stevens
 24  25     55      SAI    Carlos Sainz Jnr
 25  26     12      NAS         Felipe Nasr
 26  27     33      VER      Max Verstappen
 27  28     98      MER       Roberto Merhi
 28  29     53      RSS     Alexander Rossi
 29  30     30      PAL       Jolyon Palmer
 30  31     94      WEH     Pascal Wehrlein
 31  32     88      HAR        Rio Haryanto
 32  33      2      VAN   Stoffel Vandoorne
 33  34     31      OCO        Esteban Ocon
 34  35     99      GIO  Antonio Giovinazzi
 35  36     18      STR        Lance Stroll
 36  37     40      DIR       Paul di Resta
 37  38     10      GAS        Pierre Gasly
 38  39     28      HAR     Brendon Hartley
 39  40     16      LEC     Charles Leclerc
 40  41     35      SIR     Sergey Sirotkin
 41  42      4      NOR        Lando Norris
 42  43     23      ALB     Alexander Albon
 43  44     63      RUS      George Russell
 44  45     88      KUB       Robert Kubica,
 'fcyphases':       id  race_id  startracetime  endracetime  startraceprog  endraceprog  \
 0      1        1         1069.0       1604.0         11.107       14.922
 1      2        3         4157.0       4899.0         41.010       45.965
 2      3        6           59.0        332.0          0.583        2.897
 3      4        6         2157.0       2710.0         25.289       29.916
 4      5        7           38.0        829.0          0.372        6.864
 ..   ...      ...            ...          ...            ...          ...
 131  132      116         2874.0       3013.0         27.384       28.457
 132  133      116         3062.0       3572.0         28.807       31.934
 133  134      118           74.0        218.0          0.823        2.213
 134  135      120         3946.0       4558.0         53.418       58.883
 135  136      120         5061.0       5416.0         65.720       68.740

      startlap  endlap type
 0          12      15   SC
 1          42      46   SC
 2           1       3   SC
 3          26      30   SC
 4           1       7   SC
 ..        ...     ...  ...
 131        28      29  VSC
 132        29      32   SC
 133         1       3  VSC
 134        54      59   SC
 135        66      69   SC

 [136 rows x 9 columns],
 'laps':         race_id  lapno  position  driver_id  laptime  racetime     gap  \
 0             1      0         1          1      NaN     0.000     NaN
 1             1      0         2          2      NaN     0.000     NaN
 2             1      0         3          3      NaN     0.000     NaN
 3             1      0         4          4      NaN     0.000     NaN
 4             1      0         5          5      NaN     0.000     NaN
 ...         ...    ...       ...        ...      ...       ...     ...
 134001      121     55         2         27  101.119  5662.487  16.772
 134002      121     55         3         40  102.829  5689.150  43.435
 134003      121     55         4         15  102.180  5690.094  44.379
 134004      121     55         5         12  100.128  5710.072  64.357
 134005      121     55         6         43  103.358  5714.920  69.205

         interval compound  tireage pitintime  pitstopduration nextcompound  \
 0            NaN       A3        2      None              NaN         None
 1            NaN       A3        2      None              NaN         None
 2            NaN       A3        2      None              NaN         None
 3            NaN       A3        2      None              NaN         None
 4            NaN       A3        2      None              NaN         None
 ...          ...      ...      ...       ...              ...          ...
 134001    16.772       A4       30      None              NaN         None
 134002    26.663       A7       17      None              NaN         None
 134003     0.944       A4       26      None              NaN         None
 134004    19.978       A6       17      None              NaN         None
 134005     4.848       A4       42      None              NaN         None

         startlapprog_vsc  endlapprog_vsc  age_vsc  startlapprog_sc  \
 0                    NaN             NaN      NaN              NaN
 1                    NaN             NaN      NaN              NaN
 2                    NaN             NaN      NaN              NaN
 3                    NaN             NaN      NaN              NaN
 4                    NaN             NaN      NaN              NaN
 ...                  ...             ...      ...              ...
 134001               NaN             NaN      NaN              NaN
 134002               NaN             NaN      NaN              NaN
 134003               NaN             NaN      NaN              NaN
 134004               NaN             NaN      NaN              NaN
 134005               NaN             NaN      NaN              NaN

         endlapprog_sc  age_sc
 0                 NaN     NaN
 1                 NaN     NaN
 2                 NaN     NaN
 3                 NaN     NaN
 4                 NaN     NaN
 ...               ...     ...
 134001            NaN     NaN
 134002            NaN     NaN
 134003            NaN     NaN
 134004            NaN     NaN
 134005            NaN     NaN

 [134006 rows x 19 columns],
 'qualifyings':       race_id  position  driver_id  q1laptime  q2laptime  q3laptime  speedtrap
 0           1         1          1     91.699    102.890    104.231      310.7
 1           1         2          2     90.775    102.295    104.548      303.2
 2           1         3          3     92.564    102.264    104.595      313.8
 3           1         4          4     90.949    103.247    105.745      314.8
 4           1         5          5     91.388    102.805    105.819      310.9
 ...       ...       ...        ...        ...        ...        ...        ...
 2467      121        16         22     98.051        NaN        NaN      325.2
 2468      121        17         35     98.114        NaN        NaN      323.0
 2469      121        18         11     98.383        NaN        NaN      320.4
 2470      121        19         44     98.717        NaN        NaN      326.5
 2471      121        20         45     99.236        NaN        NaN      325.0

 [2472 rows x 7 columns],
 'races':       id        date  season     location availablecompounds  \
 0      1  2014-03-16    2014    Melbourne          A2,A3,I,W
 1      2  2014-03-30    2014  KualaLumpur          A1,A2,I,W
 2      3  2014-04-06    2014       Sakhir          A2,A3,I,W
 3      4  2014-04-20    2014     Shanghai          A2,A3,I,W
 4      5  2014-05-11    2014    Catalunya          A1,A2,I,W
 ..   ...         ...     ...          ...                ...
 116  117  2019-10-13    2019       Suzuka       A2,A3,A4,I,W
 117  118  2019-10-27    2019   MexicoCity       A3,A4,A6,I,W
 118  119  2019-11-03    2019       Austin       A3,A4,A6,I,W
 119  120  2019-11-17    2019     SaoPaulo       A2,A3,A4,I,W
 120  121  2019-12-01    2019    YasMarina       A4,A6,A7,I,W

                                                comment  nolaps  nolapsplanned  \
 0                                                 None      57             58
 1                                                 None      56             56
 2    Crash GUT in lap 41, SC somewhen in the end of...      57             57
 3                                                 None      54             56
 4                                                 None      66             66
 ..                                                 ...     ...            ...
 116                                               None      52             53
 117                                               None      71             71
 118                                               None      56             56
 119                                               None      71             71
 120                                               None      55             55

      tracklength
 0         5303.0
 1         5543.0
 2         5412.0
 3         5451.0
 4         4655.0
 ..           ...
 116       5807.0
 117       4304.0
 118       5513.0
 119       4309.0
 120       5554.0

 [121 rows x 9 columns],
 'retirements':      season  driver_id  accidents  failures
 0      2014         43        NaN       NaN
 1      2015         43        NaN       NaN
 2      2016         43        NaN       NaN
 3      2017         43        NaN       NaN
 4      2018         43        NaN       NaN
 ..      ...        ...        ...       ...
 265    2015         31        NaN       NaN
 266    2016         31        3.0       2.0
 267    2017         31        2.0       1.0
 268    2018         31        NaN       NaN
 269    2019         31        NaN       NaN

 [270 rows x 4 columns],
 'starterfields':       race_id  driver_id       team teamcolor enginemanufacturer  \
 0           1          1   Mercedes   #00D2BE           Mercedes
 1           1          2    RedBull   #1E41FF            Renault
 2           1          3   Mercedes   #00D2BE           Mercedes
 3           1          4    McLaren   #FF8700           Mercedes
 4           1          5    Ferrari   #DC0000            Ferrari
 ...       ...        ...        ...       ...                ...
 2474      121         35  AlfaRomeo   #9B0000            Ferrari
 2475      121         11  AlfaRomeo   #9B0000            Ferrari
 2476      121         44   Williams   #192c4e           Mercedes
 2477      121         45   Williams   #192c4e           Mercedes
 2478      121         15   Mercedes   #00D2BE           Mercedes

       gridposition status  resultposition  completedlaps  speedtrap
 0                1    DNF              19              2      252.8
 1                2     DQ              22             57      292.7
 2                3      F               1             57      299.1
 3                4      F               2             57      316.9
 4                5      F               4             57      304.5
 ...            ...    ...             ...            ...        ...
 2474            16      F              16             54      334.9
 2475            17      F              13             54      329.6
 2476            18      F              17             54      329.3
 2477            19      F              19             53      317.8
 2478            20      F               4             55      321.5

 [2479 rows x 10 columns]}

In [16]:
from scipy.stats import fisk
import pandas as pd


class PitStop():
    def __init__(self, team, race_id, len_train_df, season, dataframes):
        self.team = team
        self.race_id=race_id
        self.len_train_df = len_train_df
        self.season = season
        self.dfs = dataframes
        

    def calculate_best_pit_stop_duration(self):
        df_laps=self.dfs["laps"]
        df_races = self.dfs['races']
        location = df_races[df_races['id']==self.race_id]['location'].iloc[0]
        seasons_to_train = [self.season - x for x in range (1, self.len_train_df +1)]
        races_to_train = list(df_races[(df_races['location']==location) & (df_races['season'].isin(seasons_to_train))]['id'])

        min_pit_stop_duration_per_race = df_laps[df_laps['race_id'].isin(races_to_train)].dropna(subset=['pitstopduration']).groupby(['race_id'])[['pitstopduration']].quantile(q=0.025)
        avg_min_pit_stop_duration = min_pit_stop_duration_per_race['pitstopduration'].mean()
        self.avg_min_pit_stop_duration = avg_min_pit_stop_duration

    def calibrate_pit_stop_variability_law(self):
        df_laps=self.dfs["laps"]
        df_staterfields = self.dfs["starterfields"]
        df_races = self.dfs["races"]

        df_laps_with_season = df_laps.merge(
            df_races[["id", "season"]], 
            left_on="race_id",
            right_on="id",
            how="left"
        ).drop(columns=["id"])  # We can drop the duplicated "id" column
        
        df_merged = df_laps_with_season.merge(
            df_staterfields[["race_id", "driver_id", "team"]],
            on=["race_id", "driver_id"],
            how="left"
        )
        
        df = df_merged[
            (df_merged['team'] == self.team) & 
            (df_merged['season'] == self.season) &
            (df_merged['race_id'] < self.race_id) &
            (df_merged['pitstopduration'].notna()) &
            (df_merged['pitstopduration']<700)
        ].copy()
        display(df)
        df["pitstop_diff"]=df['pitstopduration']- self.avg_min_pit_stop_duration
        shape, loc, scale=fisk.fit(df["pitstop_diff"])
        return [shape, loc, scale]

    def calculate_pit_stop_duration(self):
        shape, loc, scale = self.calibrate_pit_stop_variability_law()
        variability = fisk.rvs(shape, loc=loc, scale=scale, size=1, random_state=None)[0]
        pit_stop = self.avg_min_pit_stop_duration + variability
        return pit_stop

In [ ]:
def main():
    db_path = "F1_timingdata_2014_2019.sqlite"
    data_loader = DataLoader(db_path=db_path)
    dataframes = data_loader.load_data()

    pit_stop = PitStop(
        team="Mercedes", 
        race_id=58, 
        len_train_df=2, 
        season=2016, 
        dataframes=dataframes
    )

    pit_stop.calculate_best_pit_stop_duration()
    print("Average Min Pit Stop Duration:", pit_stop.avg_min_pit_stop_duration)

    calculated_duration = pit_stop.calculate_pit_stop_duration()
    print("Calculated Pit Stop Duration:", calculated_duration)


if __name__ == "__main__":
    try:
        main()
    except Exception as e:
        print(f"[ERROR] An exception occurred: {e}")

Average Min Pit Stop Duration: 22.886362499999997

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,...,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc,season,team
41870,39,12,5,3,110.969,1134.161,21.431,7.891,A4,14,...,21.531,A3,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
41954,39,16,5,1,113.739,1523.223,21.749,1.405,A4,18,...,21.940,A2,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
42905,40,13,1,3,102.553,1280.500,0.000,0.000,A4,15,...,24.934,A3,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
42906,40,13,2,1,103.018,1299.084,18.584,18.584,A4,15,...,24.512,A2,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
43177,40,28,3,1,101.221,2791.761,26.918,11.003,A2,15,...,25.030,A4,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61876,56,11,1,1,103.680,1143.220,0.000,0.000,A3,13,...,23.601,A3,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
62280,56,31,1,1,121.052,3253.418,0.000,0.000,A3,20,...,23.575,A2,0.385,1.0,0.615,NaN,NaN,NaN,2016,Mercedes
62281,56,31,2,3,125.712,3268.698,15.280,15.280,A2,21,...,24.149,A2,0.286,1.0,0.714,NaN,NaN,NaN,2016,Mercedes
63101,57,17,1,1,86.713,1509.941,0.000,0.000,A3,19,...,21.709,A2,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes
63164,57,20,1,3,86.642,1766.126,0.000,0.000,A3,22,...,21.997,A2,NaN,NaN,NaN,NaN,NaN,NaN,2016,Mercedes

Calculated Pit Stop Duration: 20.05881734845699

In [58]:
dataframes["qualifyings"]

      race_id  position  driver_id  q1laptime  q2laptime  q3laptime  speedtrap
0           1         1          1     91.699    102.890    104.231      310.7
1           1         2          2     90.775    102.295    104.548      303.2
2           1         3          3     92.564    102.264    104.595      313.8
3           1         4          4     90.949    103.247    105.745      314.8
4           1         5          5     91.388    102.805    105.819      310.9
...       ...       ...        ...        ...        ...        ...        ...
2467      121        16         22     98.051        NaN        NaN      325.2
2468      121        17         35     98.114        NaN        NaN      323.0
2469      121        18         11     98.383        NaN        NaN      320.4
2470      121        19         44     98.717        NaN        NaN      326.5
2471      121        20         45     99.236        NaN        NaN      325.0

[2472 rows x 7 columns]

In [1]:
class DNF():
    def __init__(self, season,len_train_df, dataframes, driver, team):
        self.season = season
        self.len_train_df = len_train_df
        self.dfs = dataframes
        self.driver = driver
        self.team = team
        
    def calculate_accident_probability(self):
        #Probability is estimated by the mean of a beta distribution
        retirements_df=self.dfs["retirements"]
        seasons_to_train = [self.season - x for x in range (1, self.len_train_df +1)]
        accidents_per_train_season=retirements_df[(retirements_df["driver_id"]==self.driver)&(retirements_df["season"].isin(seasons_to_train))]
        accidents_per_train_season=accidents_per_train_season[["season","accidents"]].reset_index(drop=True)
        return(accidents_per_train_season[["accidents"]])

    def calculate_failure_probability(self):
        retirements_df=self.dfs["retirements"]
        # merge 
        season_failures=retirements_df[(retirements_df["driver_id"]==season_drivers)&(retirements_df["season"]==self.season)]
        season_failures=season_failures[["season","failures"]]
        return(season_failures)
        # Depend de la team et de la saison
        # On prend les courses de la team sur la saison actuelle et recupere la frequences de failures

In [44]:
df

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

In [47]:
df2

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5
...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5

In [48]:
dataframes["races"]

,id,date,season,location,availablecompounds,comment,nolaps,nolapsplanned,tracklength
0,1,2014-03-16,2014,Melbourne,"A2,A3,I,W",None,57,58,5303.0
1,2,2014-03-30,2014,KualaLumpur,"A1,A2,I,W",None,56,56,5543.0
2,3,2014-04-06,2014,Sakhir,"A2,A3,I,W","Crash GUT in lap 41, SC somewhen in the end of...",57,57,5412.0
3,4,2014-04-20,2014,Shanghai,"A2,A3,I,W",None,54,56,5451.0
4,5,2014-05-11,2014,Catalunya,"A1,A2,I,W",None,66,66,4655.0
...,...,...,...,...,...,...,...,...,...
116,117,2019-10-13,2019,Suzuka,"A2,A3,A4,I,W",None,52,53,5807.0
117,118,2019-10-27,2019,MexicoCity,"A3,A4,A6,I,W",None,71,71,4304.0
118,119,2019-11-03,2019,Austin,"A3,A4,A6,I,W",None,56,56,5513.0
119,120,2019-11-17,2019,SaoPaulo,"A2,A3,A4,I,W",None,71,71,4309.0
120,121,2019-12-01,2019,YasMarina,"A4,A6,A7,I,W",None,55,55,5554.0

In [50]:
dataframes.keys()

dict_keys(['drivers', 'fcyphases', 'laps', 'qualifyings', 'races', 'retirements', 'starterfields'])

In [53]:
dataframes["laps"]

,race_id,lapno,position,driver_id,laptime,racetime,gap,interval,compound,tireage,pitintime,pitstopduration,nextcompound,startlapprog_vsc,endlapprog_vsc,age_vsc,startlapprog_sc,endlapprog_sc,age_sc
0,1,0,1,1,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,2,2,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,3,3,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,4,4,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,5,5,NaN,0.000,NaN,NaN,A3,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134001,121,55,2,27,101.119,5662.487,16.772,16.772,A4,30,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
134002,121,55,3,40,102.829,5689.150,43.435,26.663,A7,17,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
134003,121,55,4,15,102.180,5690.094,44.379,0.944,A4,26,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
134004,121,55,5,12,100.128,5710.072,64.357,19.978,A6,17,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
134005,121,55,6,43,103.358,5714.920,69.205,4.848,A4,42,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
Dnf_Test=DNF(driver=2, 
             team="Mercedes",
        len_train_df=2, 
        season=2016, 
        dataframes=dataframes)

Dnf_Test.calculate_accident_probability()

   accidents
0        0.0
1        0.0

In [40]:
df=dataframes["retirements"]
df

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

In [42]:
df2 = dataframes["starterfields"]

In [54]:
display(df)
df_merged = df2[["race_id","driver_id","team"]].merge(dataframes["races"][["id","season"]],
         right_on="id",
         left_on="race_id")
df_merged2=df.merge(df_merged,
                    on=["season"])
df_merged

     season  driver_id  accidents  failures
0      2014         43        NaN       NaN
1      2015         43        NaN       NaN
2      2016         43        NaN       NaN
3      2017         43        NaN       NaN
4      2018         43        NaN       NaN
..      ...        ...        ...       ...
265    2015         31        NaN       NaN
266    2016         31        3.0       2.0
267    2017         31        2.0       1.0
268    2018         31        NaN       NaN
269    2019         31        NaN       NaN

[270 rows x 4 columns]

      race_id  driver_id       team   id  season
0           1          1   Mercedes    1    2014
1           1          2    RedBull    1    2014
2           1          3   Mercedes    1    2014
3           1          4    McLaren    1    2014
4           1          5    Ferrari    1    2014
...       ...        ...        ...  ...     ...
2474      121         35  AlfaRomeo  121    2019
2475      121         11  AlfaRomeo  121    2019
2476      121         44   Williams  121    2019
2477      121         45   Williams  121    2019
2478      121         15   Mercedes  121    2019

[2479 rows x 5 columns]

In [55]:
df2

,race_id,driver_id,team,teamcolor,enginemanufacturer,gridposition,status,resultposition,completedlaps,speedtrap
0,1,1,Mercedes,#00D2BE,Mercedes,1,DNF,19,2,252.8
1,1,2,RedBull,#1E41FF,Renault,2,DQ,22,57,292.7
2,1,3,Mercedes,#00D2BE,Mercedes,3,F,1,57,299.1
3,1,4,McLaren,#FF8700,Mercedes,4,F,2,57,316.9
4,1,5,Ferrari,#DC0000,Ferrari,5,F,4,57,304.5
...,...,...,...,...,...,...,...,...,...,...
2474,121,35,AlfaRomeo,#9B0000,Ferrari,16,F,16,54,334.9
2475,121,11,AlfaRomeo,#9B0000,Ferrari,17,F,13,54,329.6
2476,121,44,Williams,#192c4e,Mercedes,18,F,17,54,329.3
2477,121,45,Williams,#192c4e,Mercedes,19,F,19,53,317.8
2478,121,15,Mercedes,#00D2BE,Mercedes,20,F,4,55,321.5

In [80]:
retirements_df=dataframes["retirements"]
retirements_df[(retirements_df["driver_id"]==44)]["accidents"]

204    NaN
205    NaN
206    NaN
207    NaN
208    NaN
209    2.0
Name: accidents, dtype: float64